<?xml version="1.0" encoding="utf-8" ?>
<WorkConfig>
  <WordShowingTimeout Value="10"/>
  <DictionariesConfig>
    <DictionaryConfig Enabled="false" Name="English. Irregular verbs.xml"/>
    <DictionaryConfig Enabled="false" Name="English. A1 - B1.xml"/>
    <DictionaryConfig Enabled="false" Name="Deutsch. Starke Verben.xml"/>
    <DictionaryConfig Enabled="false" Name="Deutsch. A1.xml"/>
	  <DictionaryConfig Enabled="false" Name="Deutsch. A2.xml"/>
	  <DictionaryConfig Enabled="true" Name="Deutsch. B1.xml"/>
  </DictionariesConfig>
</WorkConfig>